/* ******************************
        Difault Values

Font: pasifico(only for logo), sans serif

Colors:
1    impirial Primer: #222f3e;
2    wild caribeen green: #1dd1a1;
3    light gray: #fbfbfb;
4    Gray: #ccc;

****************************/

/*---------------------------
        Basic setup
---------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Pacifico', cursive;
}

li{
        list-style: none;
        display: inline-block;

}

a{
        text-decoration: none;
}

.container{
        max-width: 1400px;
        margin: 0 auto;
        background-color: #fff;
}

/*---------------------------
        Header
---------------------------*/

/*font-family: 'Ubuntu Mono', monospace;*/

body{
        background-color: #fbfbfb;
        font-family: 'Ubuntu Mono', monospace;
}

.page-header{
        background-color: #222f3e;
        padding-bottom:13px ;
        color: #fff;
        font-family: "Pacifico" , cursive;
        padding-left: 70px;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 50px;

}

.page-header span{
        color: #1dd1a1;
}

  /* nav-menu */ 

.nav-menu{
        padding: 10px 0 10px 120px;
}

.nav-menu a{
        color: #ccc;
        font-size: 18px;
        text-transform: uppercase;
}

.nav-menu a:hover {
        color: #222f3e;
        font-weight: 700;
}

.nav-menu li{
        padding: 20px;       
}

/*header img*/

.header-image {
        background-image: url(../img/1.webp);
        height: 500px;

}