body{
    font-family: 'Alfa Slab One', cursive;
    background-color: blue;
}

.container{
    span{
        color: green;
    }
}

p{
    color: orange;
    font-size: 25px;
    font-family: 'Barriecito', cursive;
font-family: 'Rubik Iso', cursive;

}
header{
    color: red;
    font-size: 34px;
}

span{
    color: red;
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: red;
}
 span{
    color: gold;
    font-size: 24px;    
}
span{
    font-size: 24px;
    color: gold;
}